{% extends 'base.html' %}
{% load i18n %}
{% load breadcrumb_nav %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_header %}
  <div class='page-header'>
    {% breadcrumb_nav %}

    {% if ticket_info != '' %}
      <div class="btn-group pull-right">
        <a href='{{ action_url }}'
          class="btn btn-default btn-sm ajax-modal btn-edit"
          style="{{ displaynone }}">
          {% trans "Cancelling" %}
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-sm-12">
      {{ tab_group.render }}
    </div>
  </div>
{% endblock %}
