{% extends 'base.html' %}
{% load i18n %}
{% load breadcrumb_nav %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_header %}
  <div class='page-header'>
    {% breadcrumb_nav %}

    {% if allowed_submit and action_url %}
      <div class="btn-group pull-right">
        <a href='{{ action_url }}'
          class="btn btn-default btn-sm ajax-modal btn-edit">
          {% trans "Edit Request" %}
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-sm-12">
      {% include 'project/ticket_templates/wf_engine/detail/_detail.html' %}
    </div>
  </div>
{% endblock %}

